// *
// * Jarek Pietrasina
// * yatelier
// *

//
// MIXINS/RESPONSIVE
// --------------------------------------------------

// SASS-VARIABLES
$wrapper-max:   72em;
$additional_breakpoints: (
  menu: (
    min:        62em, // 768px
    max:        (62em - 0.0625em), // 767px
  )
);

// --------------------------------------------------

@import '../../../../nutshell/scss/mixins/responsive';

// --------------------------------------------------

// CSS-VARIABLES

// --------------------------------------------------

// PUT ADDITONAL RESPONSIVE MIXINS HERE
