// *
// * Jarek Pietrasina
// * yatelier
// *

//
// COMPONENTS/IMAGES
// --------------------------------------------------
//

.ce_image.image--default {
  width: 100%;
  height: 100%;

  .image_container {
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.image--rounded {
  img {
    border-radius: var(--base-border-radius);
  }
}
