// *
// * Jarek Pietrasina
// * Ck-Solutions Contao Theme
// *

//
// COMPONENTS/LINKS
// --------------------------------------------------

@import '../../../../nutshell/scss/components/links';

// --------------------------------------------------

// CSS-VARIABLES
:root {
  --button-bg:                      var(--color-btn);
  --button-border-radius:           .5rem;
  --btn-font-family:                var(--base-font-family-1);
  --btn-font-size:                var(--base-font-size--xs);
  --btn-font-weight:                600;
  --button-spacing:                 var(--base-spacing-unit) var(--base-spacing-unit--lg);

  --button-bg-hover:                var(--color-btn-hover);

  --button-primary-shadow:
          0 12px 24px -12px #E7362B25
;


  --btn--secondary-color:           var(--color-brand-secondary);
  --btn--secondary-color--dark:     var(--color-brand-secondary-dark);

  --btn--primary-highlight-bg:      var(--color-text);
  --btn--primary-highlight-text:    var(--color-text--inverted);

  --btn--secondary-highlight-text:  var(--color-text--inverted);
}

// --------------------------------------------------

a {
  color: var(--color-links);

  &:hover {
    --color-links: var(--color-links-hover);
  }
}

// [1] fix button gradient in chrome
%button {
  border: none; // [1]
}

// btn--primary & btn--secondary
a,
span,
button {
  &.btn--primary {
    font-size: var(--btn-font-size);
    text-decoration: none;
    font-weight: var(--btn-font-weight);
    -webkit-transition: background 0.3s, -webkit-box-shadow 0.3s;
    transition: background 0.3s, -webkit-box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s;
    transition: background 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
    -webkit-box-shadow: var(--button-primary-shadow);
    box-shadow: var(--button-primary-shadow);

    &:hover {
      --button-bg: var(--button-bg-hover);
      --button-text: var(--color-text--inverted);

    }

    p & {
      margin-bottom: 0;
      text-decoration: none;
    }
  }

  &.btn--secondary {
    font-size: var(--btn-font-size);
    border-radius: var(--button-border-radius);
    font-weight: var(--btn-font-weight);
    color: var(--color-text--inverted);
    border: var(--base-border-width) solid var(--btn--secondary-color);
    background: var(--btn--secondary-color--dark);
    -webkit-transition: background 0.3s;
    transition: background 0.3s;

    &:hover {
      --btn--secondary-color: var(--btn--secondary-color);
    }

    p & {
      margin-bottom: 0;
      text-decoration: none;
    }
  }
}

.btn--center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

// [2] button used in a .band--highlight container
div {
  &.btn--primary {
    a {
      font-size: var(--btn-font-size);
      font-weight: var(--btn-font-weight);
      -webkit-transition: background-color 0.3s, -webkit-box-shadow 0.3s;
      transition: background-color 0.3s, -webkit-box-shadow 0.3s;
      transition: background-color 0.3s, box-shadow 0.3s;
      transition: background-color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
      -webkit-box-shadow: var(--button-primary-shadow);
      box-shadow: var(--button-primary-shadow);

      &:hover {
      }

      .band--highlight & { // [2]
        background-color: var(--btn--primary-highlight-bg);
        color: var(--btn--primary-highlight-text);
      }
    }
  }

  &.btn--secondary {
    a {
      font-size: var(--btn-font-size);
      border-radius: var(--button-border-radius);
      font-weight: var(--btn-font-weight);
      color: var(--color-text--inverted);
      border: var(--base-border-width) solid var(--btn--secondary-color);
      background: var(--btn--secondary-color--dark);
      -webkit-transition: background 0.3s;
      transition: background 0.3s;

      &:hover {
        --btn--secondary-color: var(--btn--secondary-color);
      }
    }
  }
}

.back {
  a {
    @extend %button;
    @extend a.btn--secondary;
  }
}

.arrow-link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: var(--color-brand-primary);
  font-size: var(--base-font-size--sm);
  .material-icons {
    color: var(--color-brand-primary);
    transition: transform .2s ease-in-out;
  }
  &:hover {
    .material-icons {
      transform: translateX(var(--base-spacing-unit--xs));
    }
  }
}
