// *
// * Jarek Pietrasina
// * yatelier
// *

//
// COMPONENTS/LOGO
// --------------------------------------------------

// CSS-VARIABLES

// --------------------------------------------------

// company brand
.logo {
  pointer-events: auto;
  padding-bottom: 0;
  z-index: 1011;
  display: flex;
  justify-content: center;

  img {
    margin-left: 0;
    width: 60px;
    transition: width ease-in-out .3s;
    transition-delay: 0s;
    @include media-query(screen-sm) {
      width: 80px;
    }
    @include media-query(screen-md) {
      width: 100px;
    }
  }
}

body.not-top {
  [id='header'] {
    .logo {
      img {
        transition-delay: .3s;
        width: 60px;
      }
    }
  }
}
