// *
// * Jarek Pietrasina
// * Ck-Solutions Contao Theme
// *

//
// COMPONENTS/LOGO
// --------------------------------------------------

// CSS-VARIABLES

// --------------------------------------------------

// company brand
.logo {
  pointer-events: auto;
  padding-bottom: 0;
  z-index: 1011;

  img {
    margin-left: 0;
    width: 60px;
  }
}
