// *
// * Jarek Pietrasina
// * yatelier
// *

//
// COMPONENTS/LOGO
// --------------------------------------------------

// CSS-VARIABLES

// --------------------------------------------------

// company brand
.logo {
  pointer-events: auto;
  padding-bottom: 0;
  z-index: 1011;
  display: flex;
  justify-content: center;

  img {
    margin-left: 0;
    width: 60px;
    @include media-query(screen-sm) {
      width: 80px;
    }
    @include media-query(screen-md) {
      width: 100px;
    }
  }
}
